<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper标签是当前配置文件的根标签 -->
<!-- namespace属性：表示命名空间，用来设定当前Mapper配置文件的唯一标识，将来在Java程序中通过namespace属性的值来定位到这个配置文件 -->
<!-- 必须使用 #{} 来代替JDBC当中的 ?作为占位符-->
<!-- 数据库字段full_name, 而User对象对应字段为fullName， 查询时设置该字段别名和User对象的字段名称一致 -->
<mapper namespace="user">
    <select id="queryById" resultType="entity.User">
        select id, full_name as fullName, age, email, password from user where id = #{id}
    </select>

    <select id="queryAll" resultType="entity.User">
        select id, full_name as fullName, age, email, password from user
    </select>

    <insert id="addByMap">
        insert into user(id, full_name, age, email, password) values (#{id}, #{fullName}, #{age}, #{email}, #{password})
    </insert>

    <insert id="addByObject">
        insert into user(id, full_name, age, email, password) values (#{id}, #{fullName}, #{age}, #{email}, #{password})
    </insert>


    <delete id="deleteById">

    </delete>

    <delete id="deleteAll">
        delete from user
    </delete>

    <update id="updateById">
        update user set full_name = #{fullName}, age = #{age}, email = #{email}, password = #{password} where id = #{id}
    </update>
</mapper>
