<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!-- 从db.properties中读取db相应的配置信息 -->
    <properties resource="db.properties"></properties>
    
    <settings>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <!-- 配置环境.-->
    <environments default="development">
        <!-- id属性必须和上面的default一致 -->
        <environment id="development">
            <!--配置事务的类型-->
            <transactionManager type="JDBC"></transactionManager>
            <!--dataSource 元素使用标准的 JDBC 数据源接口来配置 JDBC 连接对象源 -->
            <dataSource type="POOLED">
                <!--配置连接数据库的4个基本信息-->
                <property name="driver" value="${mysql.driver}"/>
                <property name="url" value="${mysql.url}"/>
                <property name="username" value="${mysql.username}"/>
                <property name="password" value="${mysql.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- sql映射⽂件创建好之后，需要将该⽂件路径配置到这⾥,resource属性会自动从类的根路径下开始查找资源 -->
    <mappers>
        <mapper resource="mapper/userMapper.xml"></mapper>
    </mappers>

</configuration>